########################################
# OS
########################################
.DS_Store
Thumbs.db

########################################
# IDE
########################################
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/

########################################
# Node / Frontend (Angular, React, etc.)
########################################
node_modules/
dist/
out-tsc/
build/
coverage/

npm-debug.log*
yarn-error.log*
pnpm-debug.log*

.angular/cache/
.sass-cache/

########################################
# Python
########################################
__pycache__/
*.py[cod]
*.pyo
*.pyd

########################################
# Virtual environments
########################################
venv/
env/
.venv/

########################################
# Django
########################################
db.sqlite3
*.log
media/
staticfiles/
local_settings.py

########################################
# Environment variables
########################################
.env
.env.*
!.env.example

########################################
# Packaging / build
########################################
dist/
build/
*.egg-info/

########################################
# Testing
########################################
.pytest_cache/
.coverage
.tox/

########################################
# Misc
########################################
*.swp
*.swo
*.lock